.modal-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}
  
.modal-container.open {
  display: block;
}

.modal-content {
  position: relative;
  background-color: #fff;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  left: 50%;
  transform: translateX(-50%);
}

.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 3px;
  right: 3px;
  width: 36px;
  height: 36px;
  background: #fff;
  border: none;
  border-radius: 50%;
  padding: 0;
  font-size: 28px;
  font-weight: bold;
  color: #000;
}

.close-button:hover,
.close-button:focus {
  background: #e0e0e0;
  text-decoration: none;
  cursor: pointer;
}
  